*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
    background-color: #1F2937;
}
header .logo a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    text-decoration: none;
    color:white
}


header .logo img{
    
    width: 10%;
    border-right: 1px solid black;
    padding-right:10px;
}

header .links ul{
    font-size: 18px;
    list-style: none;
    display: flex;
    gap:16px;
}

header .links a{
    text-decoration: none;
    color:white
}